doctype html
html
  head
    title Usuarios
  body 
    form(action="/sessions" method="POST") 
      input(type="email" name="email" placeholder="Correo electronico")
      input(type="password" name="password" placeholder="Contrasña")
      input(type="submit" value="Iniciar sesion")
      